# Streamlit Secrets Configuration
# This file should be placed in .streamlit/secrets.toml
# DO NOT UPLOAD THIS FILE TO GITHUB!

[database]
host = "mias-db.chwakwqqclzv.us-east-2.rds.amazonaws.com"
port = 3306
user = "admin"
password = "License2Live"
database = "mias_db"
